<!DOCTYPE html>
<html>
<head>
    <title>Open Badges Call Podcasts</title>
</head>
<body>
<h1>Open Badges weekly call podcasts</h1>
Use the links below to add these podcasts to your favorite podcast players/apps.


</body>
</html>